{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h2 class="m-3 text-center">Editer l'article</h2>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}